body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

form {
    margin: 0 auto;
    max-width: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #6c5ce7;
    color: #fff;
    font-weight: normal;
}


input[type="number"] {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.error {
    background-color: #ec3853 !important;
}

.submit {
    background-color: #6c5ce7;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.submit:hover {
    background-color: #a29bfe;
}

.load-button {
    background-color: #40b63b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 200px;
    transition: background-color 0.3s ease-in-out;
}

.load-button:hover {
    background-color: #71b66f;
}

.choose-button {
    background-color: #15b27e;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}

.choose-button:hover {
    background-color: #5bad8b;
}

.radio-choose {
    padding: 10px 20px;
    background-color: #6c5ce7;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.row-choose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result {
    padding: 20px;
    height: 100%;

}

.x-button {
    background-color: #4d4b54;
    color: #fff;
}

.result h2 {
    margin-top: 0;
}

.result p {
    font-size: 16px;
    line-height: 1.5;
}

.add-row,
.remove-row {
    background-color: rgba(206, 50, 97, 0.92);
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.disabled_btn {
    background-color: #3c344b;
}

.add-row::before {
    content: "+";
}

.remove-row::before {
    content: "-";
}

.first-line {
    font-size: 20px;
    font-weight: 900 !important;
}

.jxgbox {
    margin-left: 35% !important;
    width: 500px;
    height: 300px;
}

#tableContainer {
    margin: 0 auto;
    max-width: 800px;
}